@model OnpeWeb.Models.ActaDetalle
@{
    ViewData["Title"] = "Actas por Número";

    bool tieneActa = Model != null && Model.Existe;
    bool busquedaRealizada = !string.IsNullOrEmpty(Context.Request.Query["nroMesa"].ToString());
}

<div class="container">
    <img src="~/images/f-actas.jpg" width="1170" height="248" class="img-responsive mg30top">

        <section class="menu navbar-default menu05">
            <nav class="navbar-collapse bs-navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="bt-azul"><a href="#">PRESIDENCIAL</a></li>
                    <li class="bt-amarillo act-amarillo"><a href="@Url.Action("ActasUbigeo")">ACTAS</a></li>
                    <li class="bt-rojo"><a href="@Url.Action("Participacion")">PARTICIPACIÓN CIUDADANA</a></li>
                </ul>
            </nav>
        </section>

        <br /><br /><br /><br />

        <section class="contenedor">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="menu-interna">
                        <ul>
                            <li><a href="@Url.Action("ActasUbigeo")">Actas por ubigeo</a></li>
                            <li><a href="@Url.Action("ActasNumero")" class="act-izq">Actas por número</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-md-9" id="impreso">
                    <div class="contenido-interna">
                        <div class="titulos col-xs-12">
                            <div class="col-xs-11">
                                <h3>
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true" style="font-size:19px"></span>
                                    SEGUNDA ELECCIÓN PRESIDENCIAL 2016: ACTAS POR NÚMERO
                                </h3>
                            </div>
                            <div class="col-xs-1 oculto-boton-print">
                                <button onclick="window.print();"><i class="fa fa-print ico-print"></i></button>
                            </div>
                        </div>

                        <div class="col-lg-7 centered">
                            <div class="col-xs-12 col-md-12 col-lg-12 cont-curv">
                                <div class="col-xs-3 col-md-1">
                                    <span class="glyphicon glyphicon-ok-circle ico-info" aria-hidden="true"></span>
                                </div>
                                <div class="col-xs-9 col-md-11">
                                    <ul>
                                        <li>ACTUALIZADO EL 20/06/2016 A LAS 19:16 h</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div id="page-wrap" style="margin-top:20px;">
                            <form asp-action="ActasNumero" method="get">
                                <div class="row">
                                    <div class="col-md-4" style="line-height:34px; font-weight:bold;">
                                        INGRESE EL NÚMERO DE ACTA:
                                    </div>
                                    <div class="col-md-4">
                                        <input name="nroMesa" type="text" maxlength="6" class="form-control" value="@(Model?.MesaNro ?? "")" placeholder="Ej: 000001" />
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-primary btn-block">
                                            <span class="glyphicon glyphicon-search"></span> BUSCAR
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        @if (busquedaRealizada)
                        {
                            if (!tieneActa)
                            {
                                <div class="alert alert-danger text-center" style="margin-top:30px;">
                                    EL NÚMERO DE MESA QUE HA INGRESADO NO EXISTE
                                </div>
                            }
                            else
                            {
                                <div id="divDetalle" class="ptop30">
                                    <div class="contenido-resultados">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <div class="mesap01">
                                                    <img src="~/images/mp-sin.jpg" class="img-responsive" alt="Acta sin imagen">
                                                        <p style="margin-top:10px; font-size:13px; color:#666;">
                                                            Si requiere la imagen del acta, solicítela a través del procedimiento de acceso a la información pública.
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-8">
                                                    <p class="subtitle1">ACTA ELECTORAL</p>
                                                    <div id="page-wrap">
                                                        <table class="table13" cellspacing="0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Mesa N°</th>
                                                                    <th>N° Copia</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>@Model.MesaNro</td>
                                                                    <td>@Model.Copia</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <p class="subtitle1">INFORMACIÓN UBIGEO</p>
                                                    <div id="page-wrap">
                                                        <table class="table14" cellspacing="0">
                                                            <tbody>
                                                                <tr class="titulo_tabla">
                                                                    <td>Departamento</td>
                                                                    <td>Provincia</td>
                                                                    <td>Distrito</td>
                                                                    <td>Local de votación</td>
                                                                    <td>Dirección</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>@Model.Departamento</td>
                                                                    <td>@Model.Provincia</td>
                                                                    <td>@Model.Distrito</td>
                                                                    <td>@Model.LocalVotacion</td>
                                                                    <td>@Model.Direccion</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <p class="subtitle1">INFORMACIÓN MESA</p>
                                                    <div id="page-wrap">
                                                        <table class="table15" cellspacing="0">
                                                            <tbody>
                                                                <tr class="titulo_tabla">
                                                                    <td>Electores hábiles</td>
                                                                    <td>Total votantes</td>
                                                                    <td>Estado del acta</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>@Model.ElectoresHabiles</td>
                                                                    <td>@Model.TotalVotantes</td>
                                                                    <td>@Model.EstadoActa</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12 pbot30_acta">
                                                    <p class="subtitle1">LISTA DE RESOLUCIONES</p>
                                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> No hay resoluciones para el acta seleccionada
                                                    <div id="page-wrap">
                                                        <div class="col-md-12 resolu"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <p class="subtitle1">INFORMACIÓN DEL ACTA ELECTORAL</p>
                                                    <div id="page-wrap" class="cont-tabla1">
                                                        <table class="table06">
                                                            <tbody>
                                                                <tr class="titulo_tabla">
                                                                    <td colspan="2">Organización política</td>
                                                                    <td>Total de Votos</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>PERUANOS POR EL KAMBIO</td>
                                                                    <td><img width="40px" height="40px" src="~/images/simbolo_pkk.jpg"></td>
                                                                    <td>@Model.P1</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>FUERZA POPULAR</td>
                                                                    <td><img width="40px" height="40px" src="~/images/simbolo_keyko.jpg"></td>
                                                                    <td>@Model.P2</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">VOTOS EN BLANCO</td>
                                                                    <td>@Model.Blancos</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">VOTOS NULOS</td>
                                                                    <td>@Model.Nulos</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">VOTOS IMPUGNADOS</td>
                                                                    <td>@Model.Impugnados</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">TOTAL DE VOTOS EMITIDOS</td>
                                                                    <td>@Model.TotalVotantes</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </section>
        </div>